* {
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
   background-color: skyblue;
   color: darkblue;
}


header {
    text-align: center;
    font-size: 2rem;
    padding-top: 3%;
}

main {
    font-size: 1.5rem;
    margin-top: 10%;
    padding-left: 2%;
}

.sedona {
    width: 98%;
    padding: 1%;
    margin-top: 5%;
}

footer {
    font-size: 1rem;
    text-align: center;
    margin-top: 100%;
    background-color: darkblue;
    color: skyblue;
    height: 80px;
    padding-top: 8%;
}

/**** iPad/768 px min width media query ****/
@media (min-width:768px) {
    header {
        font-size: 2.5rem;
    }
    
    main {
        font-size: 1.8rem;
        margin-top: 40%;
    }
    
    footer {
        font-size: 1rem;
        margin-top: 80%;
        height: 80px;
        padding-top: 8%;
    }
}
/**** iPad/768 px min width media query ****/

/**** desktop/1024 px min width media query ****/
@media (min-width:1024px) {
    header {
        font-size: 3rem;
    }
    
    main {
        font-size: 2rem;
        margin-top: 35%;
    }
    
    footer {
        font-size: 1.3rem;
        margin-top: 70%;
        height: 80px;
        padding-top: 8%;
    }
}
/**** desktop/1024 px min width media query ****/